.main-container{
    display: flex;

  
}
.scholars-container{
    width: 70%;
   
}
.budget-container{
    width: 30%;
    margin-top: 5%;
    overflow-x: hidden;
}
@media screen and (max-width:980px) {
    .main-container{
        flex-direction: column-reverse;
        overflow-x: hidden;
        width: 100%;
    }
    .scholars-container{
        margin-top: 10%;
        width: 100%;
       
    }
    .budget-container{
    
       width: 100%;
       
    }
}