.scholar-container{
    text-align: center;
    padding: 10px;
    border-radius: 15px;
    box-shadow: 2px 2px 10px 5px whitesmoke;
    overflow: hidden;
}
.scholar-img{
    height: 300px;
    object-fit: cover;
}
.scholar-img:hover{
    transform: scale(1.1);
    transition: all .5s ease-in-out;
}